.register_heading
{
    font-weight: 600;
    font-size: 20px;
    color: grey;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: 400;
}

.confirm_msg
{
color:red;
font-size: 17px;
font-weight: 500;
}
.second_header
{
display:flex;
justify-content:center;
margin-top: -64px;
}

.container
{
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
    font-weight: 400;
}

.reg_login1
{
    color:#767474;
    font-size: 17px;
}

.reg_login
{
    color:rgb(68, 68, 248);
    font-size: 17px;
}

.social_media_container
{
    width: 100%;
    margin-left: 147px;
    margin-top: 64px;
    display: block;
    position: relative;
}

.social_media_imgs
{
    width:50px;
    height:50px;
    display: inline;
}

body {
    background: #ecf0f3;
}

.col-sm-6 {
    width: 45%;
    display: flex;
    /* justify-content: center; */
    right: 241px;
}

.login_img{
    width: 97%;
    margin: 180px 47px 0px 473px;
    
    }

.email_img

{
    width: 24px;
    height: 26px;
    /* display: flex; */
    justify-content: right;
    margin-right: 7px;
}

.login_page
{
    margin-left: 155px;
}

.call_number
{
    text-align: right;
    margin:20px;
    margin-right: 190px;
    color:#767474;
}
.dont_have_account
{
    color: #767474;
    display: inline-block;
    position: relative;
    /* display: flex; */
    /* justify-content: left; */
    top: 20px;
    left: 4px;
    font-size: 17px;
}

.create_one
{
    color: #767474;
    position: relative;
    display: inline-block;
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
    top: 20px;
    left: 10px;
    font-size: 17px;
}

.footer
{
    color: #868383;
    position: relative;
    left: 152px;
    font-weight: 500;
    display: flex;
    font-size: 17px;
    justify-content: center;
    font-size: 14px;
    margin-top: 14px;
}

.create_one:hover
{
    color:blue;
    font-weight: 500;
    cursor:pointer;
}

.form_outline
{
        /* height: 651px; */
        margin: 110px 33px -44px 321px;
        padding: 46px 53px 9px;
        background-color: rgb(236, 240, 243);
        border-radius: 15px;
        box-shadow: rgb(203, 206, 209) 13px 13px 20px, rgb(255, 255, 255) -13px -13px 20px;
        font-weight: 600;
        font-size: 12px;
        border: none;
        display: block;
        position: relative;
}

::placeholder
{
opacity: 40%;
}

.login_input
{
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    border: none;
    width: 424px;
    height: 34px;
    background-color: aliceblue;
    padding-left: 38px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 400;
    color: red;
    margin-top: -21px;
}

.login_input:hover
{
    border:none;
    box-shadow: 3px 3px 3px #545454,
        -3px -3px 3px #fff;
}
.remember_me
{
    color: #767474;
    position: relative;
    display: flex;
    left: 39px;
    top: 6px;
    font-size: 17px;
    cursor:pointer
}
.logo {
    width: 316px;
    height: 119px;
    z-index: 7;
    position: absolute;
    left: 10px;
    top: 10px;
}

.site_name
{
font-size: large;

}

.forget_psd
{
    color: rgb(68, 68, 248);
    position: relative;
    display: flex;
    margin-left: 292px;
    top: -23px;
    font-size: 17px;
    cursor: pointer;
    
}

.forget_psd:hover
{
    color: rgb(13, 13, 248);
    font-weight: 200;
}

.input_checkbox {
    width: 23px;
    height: 23px;
    display: flex;
    position: relative;
    left: 2px;
    top: 30px;   
    cursor:pointer
}

.sign_in
{
    width: 100%;
    color: #767474;
    display: flex;
    justify-content: left;
    font-size: 26px;
    margin-left: 106px;
}

button
{
    line-height: inherit;
    width: 423px;
    height: 45px;
    border: none;
    border-radius: 7px;
    background-color: rgb(57, 57, 254);
    font-size: 22px;
    font-weight: 100;
    box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 3px #fff;
    color: white;
}

button:hover
{
    border:none;
    box-shadow: 3px 3px 3px #545454,
        -3px -3px 3px #fff;
}

.row {
    margin-right: 21px;
    margin-left: -61px;
}

